{% extends "layout.html" %}
{% block body %}
 <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/about-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h2>About Janhvi Fashion</h2>
            <span class="subheading"></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p style="font-size: 20px; font-family: cursive;">This is our shop Jahnavi fashion related website. All items of both boys and girls are availabe in our shop.</p>
        <h3>FOR GIRLS :</h3>
          <pre style="font-size: 20px; font-family: cursive;">
         Jeans, Bottoms Verity, New Design Top, Onepice, Jumshut, Dangri, 
         Night weare, Hoziyeri, All items from 2 to 25 year old girls 
         are available. And for Ladies, Nighat Vere is also Avilble</pre>
         <h3> FOR BOYS :</h3>
        <pre style="font-size: 20px; font-family: cursive;">
         jeans, Joggars, Forway pent, Track pent, Shirt, T-shirt. 
       All these items are available for boys from 1 year to 25 years.</pre>
      </div>
    </div>
  </div>

 
{% endblock %}